[submodule "crates/xsu-authman"]
	path = crates/xsu-authman
	url = https://github.com/swmff/xsu-authman
[submodule "crates/xsu-util"]
	path = crates/xsu-util
	url = https://github.com/swmff/xsu-util
[submodule "crates/xsu-dataman"]
	path = crates/xsu-dataman
	url = https://github.com/swmff/xsu-dataman
