{% extends "base.html" %} {% block title %}Books - {{ config.name }}{% endblock
%} {% block content %}
<article>
    <div class="footernav">
        <div class="item">
            <b>{{ books.len() }}</b>
            total
        </div>

        <div class="item">
            <a href="/book/@/new">New Page</a>
        </div>
    </div>

    <ul>
        {% for book in books %}
        <!-- prettier-ignore -->
        <li>
            <a href="/book/{{ book }}">{{ book }}</a>
            (<a href="/book/{{ book }}" target="_blank" title="Open in new window">+</a>)
        </li>
        {% endfor %}
    </ul>
</article>
{% call super() %} {% endblock %}
