{% extends "base.html" %} {% block title %}Book - {{ config.name }}{% endblock
%} {% block content %}
<article>
    <div class="footernav">
        <div class="item">
            <b>{{ pages.len() }}</b>
            total
        </div>

        <div class="item">
            <a href="?action=Author">New</a>
        </div>
    </div>

    <ul>
        {% for page in pages %}
        <!-- prettier-ignore -->
        <li>
            <a href="?page={{ page }}">{{ page }}</a>
            (<a href="?page={{ page }}" target="_blank" title="Open in new window">+</a>)
        </li>
        {% endfor %}
    </ul>
</article>
{% call super() %} {% endblock %}
