{% extends "base.html" %} {% block title %}{{ config.name }}{% endblock %} {%
block content %}
<article>
    {{ xsu_util::ui::render_markdown(config.description)|safe }}
    <hr />

    <p>Please select a valid page to continue.</p>

    <ul>
        <li><a href="/registry">🌐 Service list</a></li>
        <li><a href="/book">🌐 Book</a></li>
    </ul>

    <hr />
    <form action="" method="POST">
        <fieldset>
            <legend>Enter Admin Mode</legend>

            <div class="row">
                <label for="key">Key</label>
                <input
                    name="key"
                    id="key"
                    type="password"
                    placeholder="Server Key"
                />
            </div>

            <button>Submit</button>
        </fieldset>
    </form>
</article>
{% call super() %} {% endblock %}
