{% extends "base.html" %} {% block title %}{{ config.name }}{% endblock %} {%
block content %}
<article>
    <div class="footernav">
        <div class="item">
            <b>{{ packages.len() }}</b>
            total
        </div>

        <div class="item">
            <a href="/registry/new">New</a>
        </div>
    </div>

    <ul>
        {% for package in packages %}
        <!-- prettier-ignore -->
        <li>
            <a href="/registry/{{ package }}">{{ package }}</a>
            (<a href="/registry/{{ package }}" target="_blank" title="Open in new window">+</a>)
        </li>
        {% endfor %}
    </ul>
</article>
{% call super() %} {% endblock %}
