{% extends "base.html" %} {% block title %}{{ page.0 }}{% endblock %} {% block
content %}
<article>
    <div class="footernav">
        <div class="item"><a href="/book/{{ page.0 }}">&lt; Back</a></div>
        <div class="item">
            <a href="/book/{{ page.0 }}/{{ page.1 }}">View</a>
        </div>
        <div class="item">
            <a href="/book/{{ page.0 }}/{{ page.1 }}/edit">Edit</a>
        </div>
    </div>

    <!-- book page view -->
    <fieldset style="background: transparent !important">
        <legend>{{ page.1 }}</legend>
        <section>{{ xsu_util::ui::render_markdown(page.2)|safe }}</section>
    </fieldset>
</article>
{% call super() %} {% endblock %}
