{% extends "base.html" %} {% block title %}{{ page.0 }}{% endblock %} {% block
content %}
<article>
    <div class="footernav">
        <div class="item"><a href="/book">&lt; Root</a></div>
        <div class="item">
            <a href="/book_admin/edit/{{ page.0 }}">Edit</a>
        </div>
    </div>

    <!-- book page view -->
    <fieldset>
        <legend>{{ page.0 }}</legend>
        <section>{{ xsu_util::ui::render_markdown(page.1)|safe }}</section>
    </fieldset>
</article>
{% call super() %} {% endblock %}
