{% extends "base.html" %} {% block title %}{{ path }} - {{ config.name }}{%
endblock %} {% block content %}
<article>
    <div class="footernav">
        <div class="item">
            <div class="item"><a href="/book">&lt; Root</a></div>
        </div>

        <div class="item">
            <b>{{ pages.len() }}</b>
            total
        </div>

        <div class="item">
            <a href="/book_admin/new">New</a>
        </div>
    </div>

    <ul>
        {% for page in pages %}
        <!-- prettier-ignore -->
        <li>
            {% if path.is_empty() %}
                <a href="/book/{{ page }}">{{ page }}</a>
                (<a href="/book/{{ page }}" target="_blank" title="Open in new window">+</a>)
            {% else %}
                <a href="/book/{{ path }}/{{ page }}">{{ page }}</a>
                (<a href="/book/{{ path }}/{{ page }}" target="_blank" title="Open in new window">+</a>)
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</article>
{% call super() %} {% endblock %}
