{% extends "profile_base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}">
    Answers
    <b class="notification">{{ response_count }}</b>
</a>

<a href="/@{{ other.username }}/followers">
    Followers
    <b class="notification">{{ followers_count }}</b>
</a>

<a href="/@{{ other.username }}/following" class="active">
    Following
    <b class="notification">{{ following.len() }}</b>
</a>
{% endblock %} {% block panel %}
<!-- followers -->
<div id="following" class="flex flex-wrap gap-2">
    {% for card in following %}
    <div class="card-nest" style="width: 33.33%">
        <div class="card" style="padding: 0">
            <img
                title="{{ card.following }}'s banner"
                src="/api/v1/profiles/{{card.following }}/banner"
                alt=""
                class="shadow round"
                style="
                    width: 100%;
                    min-height: 80px;
                    max-height: 80px;
                    object-fit: cover;
                    border-bottom-left-radius: 0 !important;
                    border-bottom-right-radius: 0 !important;
                "
            />
        </div>

        <div class="card flex flex-col items-center gap-2">
            <img
                title="{{ card.following }}'s avatar"
                src="/api/v1/profiles/{{ card.following }}/avatar"
                alt=""
                class="avatar shadow-md"
                style="--size: 80px; margin: -60px auto 0"
            />

            <h3 class="no-margin">
                <a href="/@{{ card.following }}">{{ card.following }}</a>
            </h3>
        </div>
    </div>
    {% endfor %}
</div>
{% call super() %} {% endblock %}
