{% extends "profile_base.html" %} {% block upper %}
<!-- new question -->
<div class="card-nest w-full shadow">
    <!-- prettier-ignore -->
    <div class="card">
        {% if let Some(header) = other.metadata.kv.get("sparkler:motivational_header") %}
            {{ header }}
        {% else %}
            Ask a question
        {% endif %}
    </div>

    <div class="card">
        <!-- prettier-ignore -->
        {% if !lock_profile %}
        {% if (require_account && profile.is_some()) | (disallow_anonymous && profile.is_some()) | (!require_account && !disallow_anonymous) %}
        <form id="question_form" class="flex flex-col gap-2">
            <textarea
                class="w-full"
                placeholder="Type your question!"
                minlength="1"
                maxlength="250"
                required
                name="content"
                id="content"
            ></textarea>

            <!-- prettier-ignore -->
            <div class="flex justify-between w-full gap-1">
                 {% if profile.is_some() && (disallow_anonymous == false) %}
                 <label for="anonymous">
                     <input
                         type="checkbox"
                         name="anonymous"
                         id="anonymous"
                     />

                     Hide your name
                 </label>
                 {% else %}
                 <div></div>
                 {% endif %}

                 <button class="round-lg primary bold">Ask</button>
             </div>
        </form>
        {% else %}
        <b>This profile does not allow anonymous questions.</b>
        {% endif %} {% else %}
        <b>This profile is not currently accepting questions.</b>
        {% endif %}
    </div>
</div>
{% endblock %} {% block pillmenu %}
<a href="/@{{ other.username }}" class="active">
    Answers
    <b class="notification">{{ responses.len() }}</b>
</a>

<a href="/@{{ other.username }}/followers">
    Followers
    <b class="notification">{{ followers_count }}</b>
</a>

<a href="/@{{ other.username }}/following">
    Following
    <b class="notification">{{ following_count }}</b>
</a>
{% endblock %} {% block panel %}
<!-- feed -->
<div id="feed" class="flex flex-col gap-2">
    <!-- pinned -->
    <!-- prettier-ignore -->
    {% if let Some(pinned) = pinned %}
        {% let response = pinned %}
        {% let is_pinned = true %}
        {%  include "components/response.html" %}
    <hr />
    {% endif %}

    <!-- actual feed -->
    <!-- prettier-ignore -->
    {% for response in responses %}
        {% let is_pinned = false %}
        {% include "components/response.html" %} 
    {% endfor %}
</div>
{% call super() %} {% endblock %}
