{% extends "profile_base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}" class="active">
    Answers
    <b class="notification">{{ responses.len() }}</b>
</a>

<a href="/@{{ other.username }}/questions">
    Questions
    <b class="notification">{{ questions_count }}</b>
</a>

<a href="/@{{ other.username }}/followers">
    Followers
    <b class="notification">{{ followers_count }}</b>
</a>

<a href="/@{{ other.username }}/following">
    Following
    <b class="notification">{{ following_count }}</b>
</a>
{% endblock %} {% block panel %}
<!-- feed -->
<div id="feed" class="flex flex-col gap-2">
    <!-- pinned -->
    <!-- prettier-ignore -->
    {% if let Some(pinned) = pinned %}
        {% let response = pinned %}
        {% let is_pinned = true %}
        {% let show_pin_button = true %}
        {% let do_not_render_question = false %}
        {%  include "components/response.html" %}
    <hr />
    {% endif %}

    <!-- actual feed -->
    <!-- prettier-ignore -->
    {% for response in responses %}
        {% let is_pinned = false %}
        {% let show_pin_button = true %}
        {% let do_not_render_question = false %}
        {% include "components/response.html" %} 
    {% endfor %}
</div>
{% call super() %} {% endblock %}
