{% extends "profile_base.html" %} {% block pillmenu %}
<a href="/@{{ other.username }}">
    Answers
    <b class="notification">{{ response_count }}</b>
</a>

<a href="/@{{ other.username }}/questions" class="active">
    Questions
    <b class="notification">{{ questions.len() }}</b>
</a>

<a href="/@{{ other.username }}/followers">
    Followers
    <b class="notification">{{ followers_count }}</b>
</a>

<a href="/@{{ other.username }}/following">
    Following
    <b class="notification">{{ following_count }}</b>
</a>
{% endblock %} {% block panel %}
<!-- global questions -->
<div id="questions" class="flex flex-col items-center gap-2">
    <!-- prettier-ignore -->
    {% for question in questions %}
        {% include "components/global_question.html" %}
    {% endfor %}
</div>
{% call super() %} {% endblock %}
