{% extends "base.html" %} {% block title %}{{ other.username }}{% endblock %} {%
block head %}
<!-- prettier-ignore -->
{% if let Some(biography) = other.metadata.kv.get("sparkler:biography") %}
{% let biography = biography.replace("\"", "\\\\\"") %}
<meta name="description" content="{{ biography }}" />
{% endif %} {% endblock %} {% block nav_left %} {% if profile.is_some() %}
<a class="button" href="/">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="18"
        height="18"
        aria-label="Home symbol"
        class="icon"
    >
        <path
            d="M12.97 2.59a1.5 1.5 0 0 0-1.94 0l-7.5 6.363A1.5 1.5 0 0 0 3 10.097V19.5A1.5 1.5 0 0 0 4.5 21h4.75a.75.75 0 0 0 .75-.75V14h4v6.25c0 .414.336.75.75.75h4.75a1.5 1.5 0 0 0 1.5-1.5v-9.403a1.5 1.5 0 0 0-.53-1.144l-7.5-6.363Z"
        ></path>
    </svg>
    Timeline
</a>

<a class="button" href="/inbox">
    <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        width="16"
        height="16"
        aria-label="Inbox symbol"
        class="icon"
    >
        <path
            d="M2.8 2.06A1.75 1.75 0 0 1 4.41 1h7.18c.7 0 1.333.417 1.61 1.06l2.74 6.395c.04.093.06.194.06.295v4.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25v-4.5c0-.101.02-.202.06-.295Zm1.61.44a.25.25 0 0 0-.23.152L1.887 8H4.75a.75.75 0 0 1 .6.3L6.625 10h2.75l1.275-1.7a.75.75 0 0 1 .6-.3h2.863L11.82 2.652a.25.25 0 0 0-.23-.152Zm10.09 7h-2.875l-1.275 1.7a.75.75 0 0 1-.6.3h-3.5a.75.75 0 0 1-.6-.3L4.375 9.5H1.5v3.75c0 .138.112.25.25.25h12.5a.25.25 0 0 0 .25-.25Z"
        ></path>
    </svg>
    Inbox {% if unread != 0 %}
    <span class="notification">{{ unread }}</span>
    {% endif %}
</a>
{% endif %} {% endblock %} {% block content %}
<article class="flex flex-col gap-2">
    <img
        title="{{ other.username }}'s banner"
        src="/api/v1/profiles/{{ other.username }}/banner"
        alt=""
        class="shadow round"
        style="
            width: 100%;
            min-height: 150px;
            max-height: 440px;
            background: var(--color-primary);
            object-fit: cover;
        "
    />

    <div class="flex flex-collapse gap-2 sm:mt-2">
        <div
            id="profile_card"
            class="card padded flex flex-col gap-2 sm:w-full"
            style="width: 20rem; padding-top: 0; height: max-content"
        >
            <img
                title="{{ other.username }}'s avatar"
                src="/api/v1/profiles/{{ other.username }}/avatar"
                alt=""
                class="avatar shadow-md"
                style="--size: 160px; margin: -80px auto 0"
            />

            <!-- prettier-ignore -->
            <div id="names">
                <h3 class="no-margin">
                    {% if let Some(display_name) = other.metadata.kv.get("sparkler:display_name") %}
                        {{ display_name }}
                    {% else %}
                        {{ other.username }}
                    {% endif %}
                </h3>

                <h4 class="no-margin" style="font-weight: normal; opacity: 50%">{{ other.username }}</h4>
            </div>

            <!-- prettier-ignore -->
            <div id="biography">
                {% if let Some(biography) = other.metadata.kv.get("sparkler:biography") %}
                    {{ xsu_util::ui::render_markdown(biography)|safe }}
                {% endif %}
            </div>

            <!-- buttons -->
            {% if let Some(profile) = profile %} {% if profile.username ==
            other.username %}
            <!-- options for account owner -->
            <hr />
            <a
                class="button round-lg w-full invert bold"
                href="/settings/profile"
            >
                Edit Profile
            </a>
            {% else %}
            <!-- follow, etc -->
            {% if !is_following %}
            <button
                class="round-lg w-full bold primary"
                onclick="follow()"
                id="follow_button"
            >
                Follow
            </button>
            {% else %}
            <button
                class="round-lg w-full bold invert"
                onclick="follow()"
                id="follow_button"
            >
                Unfollow
            </button>
            {% endif %} {% endif %} {% endif %}
        </div>

        <section id="feed" class="flex flex-col gap-2 w-full">
            <!-- new question -->
            <div class="card-nest w-full shadow">
                <!-- prettier-ignore -->
                <div class="card">
                    {% if let Some(header) = other.metadata.kv.get("sparkler:motivational_header") %}
                        {{ header }}
                    {% else %}
                        Ask a question
                    {% endif %}
                </div>

                <div class="card">
                    <!-- prettier-ignore -->
                    {% if !lock_profile %}
                    {% if (require_account && profile.is_some()) | (disallow_anonymous && profile.is_some()) | (!require_account && !disallow_anonymous) %}
                    <form id="question_form" class="flex flex-col gap-2">
                        <textarea
                            class="w-full"
                            placeholder="Type your question!"
                            minlength="1"
                            maxlength="250"
                            required
                            name="content"
                            id="content"
                        ></textarea>

                        <!-- prettier-ignore -->
                        <div class="flex justify-between w-full gap-1">
                            {% if profile.is_some() && (disallow_anonymous == false) %}
                            <label for="anonymous">
                                <input
                                    type="checkbox"
                                    name="anonymous"
                                    id="anonymous"
                                />

                                Hide your name
                            </label>
                            {% else %}
                            <div></div>
                            {% endif %}

                            <button class="round-lg primary bold">Ask</button>
                        </div>
                    </form>
                    {% else %}
                    <b>This profile does not allow anonymous questions.</b>
                    {% endif %} {% else %}
                    <b>This profile is not currently accepting questions.</b>
                    {% endif %}
                </div>
            </div>

            <!-- menu -->
            <div class="pillmenu">
                <a href="/@{{ other.username }}" class="active">
                    Answers
                    <b class="notification">{{ responses.len() }}</b>
                </a>

                <a disabled="fully">
                    Followers
                    <b class="notification">{{ followers_count }}</b>
                </a>

                <a disabled="fully">
                    Following
                    <b class="notification">{{ following_count }}</b>
                </a>
            </div>

            <!-- feed -->
            <div id="feed" class="flex flex-col gap-2">
                <!-- pinned -->
                {% if let Some(pinned) = pinned %}
                <div
                    class="card-nest w-full shadow"
                    id="response:{{ pinned.id }}"
                    title="Pinned response"
                >
                    <div class="card flex flex-col gap-1">
                        <div class="flex justify-between gap-1 question_title">
                            <div class="footernav">
                                <b class="flex items-center gap-2 item">
                                    <img
                                        title="{{ pinned.question.author }}'s avatar"
                                        src="/api/v1/profiles/{{ pinned.question.author }}/avatar"
                                        alt=""
                                        class="avatar round-sm"
                                        style="--size: 20px"
                                    />

                                    {% if pinned.question.author != "anonymous"
                                    %}
                                    <a
                                        href="/@{{ pinned.question.author }}"
                                        style="color: inherit"
                                    >
                                        {{ pinned.question.author }}
                                    </a>
                                    {% else %} {{ pinned.question.author }} {%
                                    endif %}
                                </b>

                                <span class="date item">
                                    {{ pinned.question.timestamp }}
                                </span>

                                <span class="item">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 16"
                                        width="16"
                                        height="16"
                                        style="color: var(--color-primary)"
                                        aria-label="Pin symbol"
                                        class="icon"
                                    >
                                        <path
                                            d="M4.456.734a1.75 1.75 0 0 1 2.826.504l.613 1.327a3.08 3.08 0 0 0 2.084 1.707l2.454.584c1.332.317 1.8 1.972.832 2.94L11.06 10l3.72 3.72a.748.748 0 0 1-.332 1.265.75.75 0 0 1-.729-.205L10 11.06l-2.204 2.205c-.968.968-2.623.5-2.94-.832l-.584-2.454a3.08 3.08 0 0 0-1.707-2.084l-1.327-.613a1.75 1.75 0 0 1-.504-2.826ZM5.92 1.866a.253.253 0 0 0-.183-.142.251.251 0 0 0-.221.07L1.794 5.516a.251.251 0 0 0-.07.221c.015.08.068.149.142.183l1.328.613A4.582 4.582 0 0 1 5.73 9.63l.584 2.454a.251.251 0 0 0 .42.12l5.47-5.47a.25.25 0 0 0-.12-.42L9.63 5.73a4.583 4.583 0 0 1-3.098-2.537Z"
                                        ></path>
                                    </svg>
                                </span>
                            </div>
                        </div>

                        <!-- prettier-ignore -->
                        <span class="question_content">
                            {{ xsu_util::ui::render_markdown(pinned.question.content)|safe }}
                        </span>
                    </div>

                    <div class="card flex flex-col gap-1">
                        <!-- prettier-ignore -->
                        <span class="response_content">
                            {{ xsu_util::ui::render_markdown(pinned.content)|safe }}
                        </span>

                        <div
                            class="flex justify-between items-center gap-1 response_title"
                        >
                            <div class="footernav">
                                <b class="flex items-center gap-2 item">
                                    <img
                                        title="{{ pinned.author }}'s avatar"
                                        src="/api/v1/profiles/{{ pinned.author }}/avatar"
                                        alt=""
                                        class="avatar round-sm"
                                        style="--size: 20px"
                                    />

                                    <a
                                        href="/@{{ pinned.author }}"
                                        style="color: inherit"
                                    >
                                        {{ pinned.author }}
                                    </a>
                                </b>

                                <span class="date item">
                                    {{ pinned.timestamp }}
                                </span>
                            </div>

                            <div class="dropdown">
                                <button
                                    onclick="trigger('app:hook.dropdown', [event])"
                                    exclude="dropdown"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 16"
                                        width="16"
                                        height="16"
                                        aria-label="Ellipsis symbol"
                                        class="icon"
                                    >
                                        <path
                                            d="M8 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm13 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                                        ></path>
                                    </svg>
                                </button>

                                <div class="inner shadow-md" exclude="dropdown">
                                    {% if let Some(profile) = profile %} {% if
                                    profile.username == other.username %}
                                    <!-- actions for the profile owner only -->
                                    <b class="title">Manage</b>
                                    <a href="#" onclick="pin_response('')">
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16"
                                            width="16"
                                            height="16"
                                            aria-label="Pin symbol"
                                            class="icon"
                                        >
                                            <path
                                                d="M4.456.734a1.75 1.75 0 0 1 2.826.504l.613 1.327a3.08 3.08 0 0 0 2.084 1.707l2.454.584c1.332.317 1.8 1.972.832 2.94L11.06 10l3.72 3.72a.748.748 0 0 1-.332 1.265.75.75 0 0 1-.729-.205L10 11.06l-2.204 2.205c-.968.968-2.623.5-2.94-.832l-.584-2.454a3.08 3.08 0 0 0-1.707-2.084l-1.327-.613a1.75 1.75 0 0 1-.504-2.826ZM5.92 1.866a.253.253 0 0 0-.183-.142.251.251 0 0 0-.221.07L1.794 5.516a.251.251 0 0 0-.07.221c.015.08.068.149.142.183l1.328.613A4.582 4.582 0 0 1 5.73 9.63l.584 2.454a.251.251 0 0 0 .42.12l5.47-5.47a.25.25 0 0 0-.12-.42L9.63 5.73a4.583 4.583 0 0 1-3.098-2.537Z"
                                            ></path>
                                        </svg>
                                        Unpin
                                    </a>
                                    {% endif %} {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                {% endif %}

                <!-- actual feed -->
                {% for response in responses %}
                <div
                    class="card-nest w-full shadow"
                    id="response:{{ response.id }}"
                >
                    <div class="card flex flex-col gap-1">
                        <div class="flex justify-between gap-1 question_title">
                            <div class="footernav">
                                <b class="flex items-center gap-2 item">
                                    <img
                                        title="{{ response.question.author }}'s avatar"
                                        src="/api/v1/profiles/{{ response.question.author }}/avatar"
                                        alt=""
                                        class="avatar round-sm"
                                        style="--size: 20px"
                                    />

                                    {% if response.question.author !=
                                    "anonymous" %}
                                    <a
                                        href="/@{{ response.question.author }}"
                                        style="color: inherit"
                                    >
                                        {{ response.question.author }}
                                    </a>
                                    {% else %} {{ response.question.author }} {%
                                    endif %}
                                </b>

                                <span class="date item">
                                    {{ response.question.timestamp }}
                                </span>
                            </div>
                        </div>

                        <!-- prettier-ignore -->
                        <span class="question_content">
                            {{ xsu_util::ui::render_markdown(response.question.content)|safe }}
                        </span>
                    </div>

                    <div class="card flex flex-col gap-1">
                        <!-- prettier-ignore -->
                        <span class="response_content">
                            {{ xsu_util::ui::render_markdown(response.content)|safe }}
                        </span>

                        <div
                            class="flex justify-between items-center gap-1 response_title"
                        >
                            <div class="footernav">
                                <b class="flex items-center gap-2 item">
                                    <img
                                        title="{{ response.author }}'s avatar"
                                        src="/api/v1/profiles/{{ response.author }}/avatar"
                                        alt=""
                                        class="avatar round-sm"
                                        style="--size: 20px"
                                    />

                                    <a
                                        href="/@{{ response.author }}"
                                        style="color: inherit"
                                    >
                                        {{ response.author }}
                                    </a>
                                </b>

                                <span class="date item">
                                    {{ response.timestamp }}
                                </span>
                            </div>

                            <div class="dropdown">
                                <button
                                    onclick="trigger('app:hook.dropdown', [event])"
                                    exclude="dropdown"
                                >
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 16 16"
                                        width="16"
                                        height="16"
                                        aria-label="Ellipsis symbol"
                                        class="icon"
                                    >
                                        <path
                                            d="M8 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM1.5 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm13 0a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                                        ></path>
                                    </svg>
                                </button>

                                <div class="inner shadow-md" exclude="dropdown">
                                    {% if let Some(profile) = profile %} {% if
                                    profile.username == other.username %}
                                    <!-- actions for the profile owner only -->
                                    <b class="title">Manage</b>
                                    <a
                                        href="#"
                                        onclick="pin_response('{{ response.id }}')"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16"
                                            width="16"
                                            height="16"
                                            aria-label="Pin symbol"
                                            class="icon"
                                        >
                                            <path
                                                d="M4.456.734a1.75 1.75 0 0 1 2.826.504l.613 1.327a3.08 3.08 0 0 0 2.084 1.707l2.454.584c1.332.317 1.8 1.972.832 2.94L11.06 10l3.72 3.72a.748.748 0 0 1-.332 1.265.75.75 0 0 1-.729-.205L10 11.06l-2.204 2.205c-.968.968-2.623.5-2.94-.832l-.584-2.454a3.08 3.08 0 0 0-1.707-2.084l-1.327-.613a1.75 1.75 0 0 1-.504-2.826ZM5.92 1.866a.253.253 0 0 0-.183-.142.251.251 0 0 0-.221.07L1.794 5.516a.251.251 0 0 0-.07.221c.015.08.068.149.142.183l1.328.613A4.582 4.582 0 0 1 5.73 9.63l.584 2.454a.251.251 0 0 0 .42.12l5.47-5.47a.25.25 0 0 0-.12-.42L9.63 5.73a4.583 4.583 0 0 1-3.098-2.537Z"
                                            ></path>
                                        </svg>
                                        Pin
                                    </a>
                                    <a
                                        href="#"
                                        onclick="delete_response('{{ response.id }}')"
                                        class="red"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16"
                                            width="16"
                                            height="16"
                                            aria-label="Trash symbol"
                                            class="icon"
                                        >
                                            <path
                                                d="M11 1.75V3h2.25a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1 0-1.5H5V1.75C5 .784 5.784 0 6.75 0h2.5C10.216 0 11 .784 11 1.75ZM4.496 6.675l.66 6.6a.25.25 0 0 0 .249.225h5.19a.25.25 0 0 0 .249-.225l.66-6.6a.75.75 0 0 1 1.492.149l-.66 6.6A1.748 1.748 0 0 1 10.595 15h-5.19a1.75 1.75 0 0 1-1.741-1.575l-.66-6.6a.75.75 0 1 1 1.492-.15ZM6.5 1.75V3h3V1.75a.25.25 0 0 0-.25-.25h-2.5a.25.25 0 0 0-.25.25Z"
                                            ></path>
                                        </svg>
                                        Delete
                                    </a>
                                    {% endif %} {% endif %}
                                    <!-- actions for everybody -->
                                    <b class="title">Tools</b>
                                    <a
                                        href="#"
                                        onclick="trigger('app:copy_text', ['{{ response.id }}'])"
                                        class="red"
                                    >
                                        <svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            viewBox="0 0 16 16"
                                            width="16"
                                            height="16"
                                            aria-label="Copy symbol"
                                            class="icon"
                                        >
                                            <path
                                                d="M0 6.75C0 5.784.784 5 1.75 5h1.5a.75.75 0 0 1 0 1.5h-1.5a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-1.5a.75.75 0 0 1 1.5 0v1.5A1.75 1.75 0 0 1 9.25 16h-7.5A1.75 1.75 0 0 1 0 14.25Z"
                                            ></path>
                                            <path
                                                d="M5 1.75C5 .784 5.784 0 6.75 0h7.5C15.216 0 16 .784 16 1.75v7.5A1.75 1.75 0 0 1 14.25 11h-7.5A1.75 1.75 0 0 1 5 9.25Zm1.75-.25a.25.25 0 0 0-.25.25v7.5c0 .138.112.25.25.25h7.5a.25.25 0 0 0 .25-.25v-7.5a.25.25 0 0 0-.25-.25Z"
                                            ></path>
                                        </svg>
                                        Copy ID
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
    </div>
</article>

<!-- prettier-ignore -->
<div id="stylesheets">
{% if let Some(color) = other.metadata.kv.get("sparkler:color_surface") %}
    {% if !color.is_empty() %}
        <style>:root, * { --color-surface: {{ color }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = other.metadata.kv.get("sparkler:color_lowered") %}
    {% if !color.is_empty() %}
        <style>:root, * { --color-lowered: {{ color }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = other.metadata.kv.get("sparkler:color_super_lowered") %}
    {% if !color.is_empty() %}
        <style>:root, * { --color-super-lowered: {{ color }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = other.metadata.kv.get("sparkler:color_raised") %}
    {% if !color.is_empty() %}
        <style>:root, * { --color-raised: {{ color }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = other.metadata.kv.get("sparkler:color_super_raised") %}
    {% if !color.is_empty() %}
        <style>:root, * { --color-super-raised: {{ color }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = other.metadata.kv.get("sparkler:color_text") %}
    {% if !color.is_empty() %}
        <style>:root, * { --color-text: {{ color }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = other.metadata.kv.get("sparkler:color_primary") %}
    {% if !color.is_empty() %}
        <style>:root, * { --color-primary: {{ color }} !important }</style>
    {% endif %}
{% endif %}
{% if let Some(color) = other.metadata.kv.get("sparkler:color_primary_lowered") %}
    {% if !color.is_empty() %}
        <style>:root, * { --color-primary-lowered: {{ color }} !important }</style>
    {% endif %}
{% endif %}
</div>

<script type="text/plain" id="theme">
    {% if let Some(theme) = other.metadata.kv.get("sparkler:profile_theme") %}
        {{ theme }}
    {% endif %}
</script>

<script>
    const profile_theme = document.getElementById("theme").innerText.trim();

    if (profile_theme !== "") {
        document.documentElement.setAttribute("class", profile_theme);
    }

    document.getElementById("question_form").addEventListener("submit", (e) => {
        e.preventDefault();
        fetch("/api/v1/questions", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify({
                recipient: "{{ other.username }}",
                content: e.target.content.value,
                anonymous: (e.target.anonymous || { checked: true }).checked,
            }),
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app:shout", [
                    res.success ? "tip" : "caution",
                    res.message || "Question asked!",
                ]);

                e.target.reset();
            });
    });

    function delete_response(id) {
        fetch(`/api/v1/responses/${id}`, {
            method: "DELETE",
        })
            .then((res) => res.json())
            .then((res) => {
                trigger("app:shout", [
                    res.success ? "tip" : "caution",
                    res.message || "Response deleted!",
                ]);

                document
                    .getElementById(`response:${id}`)
                    .setAttribute("disabled", "fully");
            });
    }

    function follow() {
        fetch(`/api/auth/profile/{{ other.username }}/follow`)
            .then((res) => res.json())
            .then((res) => {
                trigger("app:shout", [
                    res.success ? "tip" : "caution",
                    res.message || "Toggled user follow!",
                ]);

                // swap button
                const button = document.getElementById("follow_button");

                if (button.innerText === "Follow") {
                    button.classList.remove("primary");
                    button.classList.add("invert");
                    button.innerText = "Unfollow";
                } else {
                    button.classList.remove("invert");
                    button.classList.add("primary");
                    button.innerText = "Follow";
                }
            });
    }
</script>

{% if let Some(profile) = profile %} {% if profile.username == other.username %}
<script type="application/json" id="metadata">
    {{ metadata|safe }}
</script>

<script>
    let metadata = JSON.parse(document.getElementById("metadata").innerHTML);

    async function save_metadata() {
        const res = await (
            await fetch("/api/auth/profile/{{ profile.username }}/metadata", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    metadata,
                }),
            })
        ).json();

        trigger("app:shout", [
            res.success ? "tip" : "caution",
            res.message || "Settings saved!",
        ]);
    }

    function pin_response(id) {
        metadata.kv["sparkler:pinned"] = id;
        save_metadata();
    }
</script>
{% endif %} {% endif %} {% call super() %} {% endblock %}
