{% extends "base.html" %} {% block title %}{{ doc.path }}{% endblock %} {% block
head %}
<meta property="og:title" content="{{ doc.path }}" />
{% endblock %} {% block under_nav %}
<nav id="page_actions" style="top: 34px">
    <div class="footernav">
        {% if !iframe %}
        <div class="item">
            <div class="flex gap-1">
                <a
                    href="/doc/~{{ doc.owner }}/{{ doc.path }}"
                    class="button primary"
                >
                    View
                </a>

                <a
                    href="/doc/edit/~{{ doc.owner }}/{{ doc.path }}"
                    class="button"
                >
                    Edit
                </a>
            </div>
        </div>
        {% else %}
        <code>{{ doc.owner }}/{{ doc.path }}</code>
        <script>
            document.querySelector("nav").remove(); // remove first nav
            document.querySelector("nav:nth-child(2)").style.top = "0px"; // move this nav up
            document.querySelector("nav:nth-child(2)").style.marginBottom = "0";

            for (const anchor in Array.from(document.querySelectorAll("a"))) {
                // make all anchors open a new tab
                anchor.setAttribute("target", "_blank");
            }
        </script>
        {% endif %}
    </div>

    <button
        id="nav_toggle"
        title="Hide Navigation"
        class="secondary"
        aria-label="fold_nav"
        onclick="trigger('app:fold_nav')"
    >
        <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            width="18"
            height="18"
            aria-label="Fold-up symbol"
            class="icon"
        >
            <path
                d="M7.823 1.677 4.927 4.573A.25.25 0 0 0 5.104 5H7.25v3.236a.75.75 0 1 0 1.5 0V5h2.146a.25.25 0 0 0 .177-.427L8.177 1.677a.25.25 0 0 0-.354 0ZM13.75 11a.75.75 0 0 0 0 1.5h.5a.75.75 0 0 0 0-1.5h-.5Zm-3.75.75a.75.75 0 0 1 .75-.75h.5a.75.75 0 0 1 0 1.5h-.5a.75.75 0 0 1-.75-.75ZM7.75 11a.75.75 0 0 0 0 1.5h.5a.75.75 0 0 0 0-1.5h-.5ZM4 11.75a.75.75 0 0 1 .75-.75h.5a.75.75 0 0 1 0 1.5h-.5a.75.75 0 0 1-.75-.75ZM1.75 11a.75.75 0 0 0 0 1.5h.5a.75.75 0 0 0 0-1.5h-.5Z"
            ></path>
        </svg>
    </button>
</nav>
{% endblock %} {% block content %}
<article class="flex flex-col gap-2">
    {% if !iframe %}
    <fieldset>
        <legend>{{ doc.path }}</legend>
        <section id="doc">
            {{ xsu_util::ui::render_markdown(doc.content)|safe }}
        </section>
    </fieldset>

    <div class="flex justify-between gap-2">
        <div></div>
        <div class="footernav">
            <div class="item flex items-center gap-1" title="Edited">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    width="16"
                    height="16"
                    aria-label="Pencil symbol"
                    class="icon"
                >
                    <path
                        d="M11.013 1.427a1.75 1.75 0 0 1 2.474 0l1.086 1.086a1.75 1.75 0 0 1 0 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 0 1-.927-.928l.929-3.25c.081-.286.235-.547.445-.758l8.61-8.61Zm.176 4.823L9.75 4.81l-6.286 6.287a.253.253 0 0 0-.064.108l-.558 1.953 1.953-.558a.253.253 0 0 0 .108-.064Zm1.238-3.763a.25.25 0 0 0-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 0 0 0-.354Z"
                    ></path>
                </svg>

                <code class="date">{{ doc.date_edited }}</code>
            </div>

            <div class="item flex items-center gap-1" title="Owner">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 16 16"
                    width="16"
                    height="16"
                    aria-label="Person symbol"
                    class="icon"
                >
                    <path
                        d="M10.561 8.073a6.005 6.005 0 0 1 3.432 5.142.75.75 0 1 1-1.498.07 4.5 4.5 0 0 0-8.99 0 .75.75 0 0 1-1.498-.07 6.004 6.004 0 0 1 3.431-5.142 3.999 3.999 0 1 1 5.123 0ZM10.5 5a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z"
                    ></path>
                </svg>

                <a href="/~{{ doc.owner }}">{{ doc.owner }}</a>
            </div>
        </div>
    </div>
    {% else %}
    <section id="doc">
        {{ xsu_util::ui::render_markdown(doc.content)|safe }}
    </section>
    {% endif %}
</article>

<style>
    #doc h1,
    #doc h2,
    #doc h3,
    #doc h4,
    #doc h5,
    #doc h6 {
        margin-bottom: 1rem;
        margin-top: 2rem;
        font-weight: 700;
        width: -moz-max-content;
        width: max-content;
        position: relative;
    }

    #doc h1 {
        margin-bottom: 2.5rem;
        margin-top: 3.5rem;
        text-align: center;
        width: 100%;
    }

    /* hljs */
    .hljs {
        background: transparent !important;
        color: inherit !important;
        padding: 0 !important;
    }

    .hljs-string {
        color: rgb(63, 98, 18) !important;
    }

    .hljs-string:is(.dark *) {
        color: rgb(217, 249, 157) !important;
    }

    .hljs-keyword,
    .hljs-name {
        color: rgb(153, 27, 27) !important;
    }

    .hljs-keyword:is(.dark *),
    .hljs-name:is(.dark *) {
        color: rgb(254, 202, 202) !important;
    }

    .hljs-property,
    .hljs-punctuation {
        color: rgb(29, 78, 216) !important;
    }

    .hljs-property:is(.dark *),
    .hljs-punctuation:is(.dark *) {
        color: rgb(191, 219, 254) !important;
    }

    .hljs-variable,
    .hljs-attr,
    .hljs-title,
    .hljs-built_in,
    .hljs-type,
    .hljs-number {
        color: rgb(91, 33, 182) !important;
    }

    .hljs-variable:is(.dark *),
    .hljs-attr:is(.dark *),
    .hljs-title:is(.dark *),
    .hljs-built_in:is(.dark *),
    .hljs-type:is(.dark *),
    .hljs-number:is(.dark *) {
        color: rgb(221, 214, 254) !important;
    }

    .hljs-comment {
        color: rgb(0, 0, 0) !important;
        opacity: 0.75;
    }

    .hljs-comment:is(.dark *) {
        color: rgb(255, 255, 255) !important;
    }
</style>

<link
    rel="stylesheet"
    href="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/styles/default.min.css"
/>

<script src="https://unpkg.com/@highlightjs/cdn-assets@11.9.0/highlight.min.js"></script>

<script>
    hljs.highlightAll();
    trigger("app:fold_nav");
</script>
{% call super() %} {% endblock %}
