{% extends "base.html" %} {% block title %}{{ profile.username }}{% endblock %}
{% block content %}
<article>
    <section id="id" class="flex gap-2 items-center">
        <img
            alt="{{ profile.username }}'s avatar"
            src="/api/auth/profile/{{ profile.username }}/avatar"
            class="avatar"
            style="--size: 60px"
        />

        <h2 class="no-margin">{{ profile.username }}</h2>
    </section>

    <hr />
    <fieldset id="info">
        <legend>Info</legend>

        <ul>
            <li>
                <b>joined:</b>
                <code class="date">{{ profile.joined }}</code>
            </li>
            <li>
                <b>group id:</b>
                <code>{{ profile.group }}</code>
            </li>
        </ul>
    </fieldset>

    <hr />
    {{ custom|safe }}
</article>
{% call super() %} {% endblock %}
